 <div class="user-details">
  <img id="profile-pic" src="./caz-close-min-min.png" alt="caz profile pic">
  <h1 class="no-top-margin"> My Expertise </h1>
  <p> I'm a junior/mid-weight developer based in Sydney with over a year's agency experience in the UK. I have now relocated to Australia (I have full working rights on my visa) and am excited to get involved in the tech industry here.
      I'm a natural-born problem solver and I have a creative mind, making me a resilient and patient programmer. Experienced in juggling many projects and working to tight deadlines, I have a strong work ethic and well thought out workflow.
      Tech plays a huge role in a user's end experience and I'm proud to be the one behind the scenes, making it all happen. </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Strong knowledge of HTML5, Liquid and various front-end frameworks such as Bootstrap and Less, and a broad experience working with CSS, Sass and LESS</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-jquery-plain colored"></i>
      <p>I enjoy using JavaScript, jQuery and, more recently, React to build smart and exciting websites. I'm learning Unity in my spare time as I love AR and VR.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Adapt at using Git version controll within a large development team, using tools such as Gulp and Grunt to create a smoother workflow.</p>
    </div>
</div>
