 <div class="user-details">
  <h1> My Expertise </h1>
  <p> I'm a junior/mid-weight developer based in Sydney with an interest in creative projects and emerging technologies. I have over a year's agency experience and am excited to find my next opportunity in web development. If I were to describe what I think coding is like, I would compare it to building a jigsaw puzzle, only, first, you have to make each individual piece in order for it to fit into the larger picture. Luckily, I have the patience and resilience to try out many pieces before I find a perfect fit. I find coding exciting - there are so many ways to achive one goal, and so many goals to go after. I enjoy keeping up to date with new developments in tech; I really enjoy VR and AR and I'm learning Unity in my spare time. </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Strong knowledge of HTML5, Liquid and various front-end frameworks such as Bootstrap and Less, and a broad experience working with CSS, Sass and LESS</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-jquery-plain colored"></i>
      <p>I enjoy using JavaScript, jQuery and, more recently, React to build smart and exciting websites. I'm learning Unity in my spare time as I love AR and VR.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Adapt at using Git version controll within a large development team, using tools such as Gulp and Grunt to create a smoother workflow.</p>
    </div>
</div>
