<div class="user-details">
  <h1> Working Examples </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="rugby xplorer" src="{{ '/assets/img/rugby_xplorer_fixture_view.png' | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3>Rugby Sports App</h3>
    <ul>
      <li>MongoDB</li>
      <li>Handlebars</li>
      <li>Moment.js</li>
    </ul>
    <p>Using Meteor methods and calls to the database, this part of the popular sports app will always show the latest fixtures
      coming up in a competition and the user can view the ladder as it currently stands.
    </p>
    <a class="project-link" href="https://itunes.apple.com/au/app/rugby-xplorer/id1348617362?mt=8" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="rugby xplorer" src="{{ '/assets/img/rugby_xplorer_stats_view.png' | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Rugby Sports App</h3>
    <ul>
      <li>Handlebars Block Helpers</li>
      <li>MongoDB</li>
      <li>jQuery</li>
    </ul>
    <p>Using MongoDB to populate an up-to-date stats chart of live and past matches.</p>
    <a class="project-link" href="https://itunes.apple.com/au/app/rugby-xplorer/id1348617362?mt=8" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="garett whitelock" src="{{ '/assets/img/GW-1-ss.png' | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Website Rebuild #1 </h3>
    <ul>
      <li> HTML5 forms connecting front and back-end</li>
      <li> Custom animations</li>
      <li> Up-to-date featured content</li>
    </ul>
    <p>Complicated website redesign and build, achieved by myself and a small team of developers. One of my focusses was the <a href="https://www.garrettwhitelock.co.uk/register" target="_blank">registration form</a>. This had to be hooked up to the back-end database and also to the client's registration system.</a></p>
    <a class="project-link" href="https://www.garrettwhitelock.co.uk/" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="anderson rose" src="{{ '/assets/img/anderson-rose-1.png' | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Website rebuild #2 </h3>
    <ul>
      <li> Bootstrap</li>
      <li> Mobile first / Responsive layout</li>
    </ul>
    <p>Building from scratch a new website to meet the agreed design specifications. Communication between departments was crucial in order for us to deliver what the client wanted. This was a great opportunity to familiarise myself with the updated CSS Grid module.</p>
    <a class="project-link" href="https://www.andersonrose.co.uk" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="property pod" src="{{ "/assets/img/property-pod-0.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Website rebuild #3 </h3>
    <ul>
      <li> CSS overlays</li>
      <li> CSS hover animations</li>
      <li> Mobile first / Responsive layout</li>
    </ul>
    <p>Working with a design-heavy spec, I used the CSS relative and absolute properties to position overlays where they needed to be.</p>
    <a class="project-link" href="https://www.thepropertypod.co.uk/" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="multiple" src="{{ "/assets/img/multiple-screenshot.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Website maintenance </h3>
    <ul>
      <li> JavaScript, jQuery</li>
      <li> Mobile first / Responsive layout</li>
      <li> improving functionality</li>
      <li> Refactoring and updating code</li>
      <li> Adding new features and plugins</li>
    </ul>
    <p>For a full list of projects and products, go to the agency <a href="https://www.homeflow.co.uk/" target"_blank">homepage</a>.</p>
    <a class="project-link" href="https://www.homeflow.co.uk/" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="pguacemole" src="{{ "/assets/img/holy-guacamole-min.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Fun Time </h3>
    <ul>
      <li> User interaction</li>
      <li> Javascript for gaming</li>
      <li> Amusement</li>
    </ul>
    <p>Holy Guacamole is a whack-a-mole type game created using Javascript, HTML and CSS. For the souce code see <a href="https://github.com/cjbrunnen/wdi-project-1" target="_blank">my Github repo</a>.</p>
    <a class="project-link" href="http://guacamole-cjbrunnen.herokuapp.com" target="_blank">Check it out</a>
  </div>
</div>